# dont add this folder
AWS_infra_terraform/backend_and_db/.terraform/

# DOnt add this file
# AWS_infra_terraform/.DS_Store
# packer/.DS_Store
AWS_infra_terraform/backend_and_db/terraform.tfstate
AWS_infra_terraform/backend_and_db/terraform.tfstate.backup

# All files with name .DS_Store is ignored
.DS_Store

App/backend/node_modules/

# Ignore all java files
*.java