
<h3>Delete Event</h3>


<div class="addEvents">
<form action="/delete" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            {{!-- deleting event based on eventID --}}
            <label for="eventid">Event ID</label>
            <input type="number" class="form-control" name="eventid" id="eventid" placeholder="Event ID" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Delete Event</button>
</form>
</div>