<!--the moving horizontal scrollbar-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

<!--    each slide in the horizantal scrollbar is the carousel-item -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" id="img1"></svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Smart Events acquires Eventsbrite</h1>
                    <p>Connecting every one in a better way and making the world a better place.</p>
                    <br>
                    <br>

                </div>
            </div>
        </div>

        <div class="carousel-item">
            <svg class="bd-placeholder-img" id="img2" ></svg>
            <div class="container">
                <div class="carousel-caption text-top">
                    <h1>Smart Events helps connect People</h1>
                    <p>Using today's technology to connect to the world.</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                </div>
            </div>
        </div>

        <div class="carousel-item">
            <svg class="bd-placeholder-img" id="img3"></svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Post Malone or Imagine Dragons?</h1>
                    <p>See how Smart Events helps you get you to both.</p>
                   <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
<!--    TO go to next slide buttons-->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<!---->

<hr class="featurette-divider">

<div class="row featurette" id = "boxes">
    <div class="col-md-7">
        <h2 class="featurette-heading">Explore the world! </h2>
        <p class="lead">This is where some of the world’s happy, most passionate people meet the world’s most immersive events and experiences. Join them and enjoy the best of your life — and make a difference in other people’s lives.</p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="imgCheck" >
            </svg>
    </div>
</div>

<hr class="featurette-divider" id = "boxes">

<div class="row featurette">
     <div class="col-md-4">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" id="imgCheck2"> </svg>
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">There’s a place here for every kind of brilliant.</h2>
        <p class="lead">We value passion, courage, and original thinking. For every team and every role. Find your place here.</p>
    </div>
   
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2019 Smart Events. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>