
<div class ="headingPage">
    <h3>Add Events</h3>
</div>


{{!-- to post jobs --}}
<div class="addEvents">
    <form action="/add" method="POST">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="eventid">Event ID</label>
                <input type="number" class="form-control" name="eventid" id="eventid" placeholder="Event ID" required>
            </div>           
        </div>
        
        <div class = "form-row">
            <div class="form-group col-md-6">
                <label for="jobtitle">Event Title</label>
                <input type="text" class="form-control" name="eventtitle" id="eventtitle" placeholder="Event Title" required>
            </div>
        </div>
             

        <div class = "form-row">
            <div class="form-group col-md-6">
                <label for="jobtype">Event Type</label>
                <input type="text" class="form-control" name = "eventtype" id="eventtype" placeholder="Event Type"required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="jobDescription">Event Description</label>
                <textarea class="form-control" id="eventdescription" name="eventdescription" rows="4" required></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Add Event</button>
    </form>
</div>





